* {
  box-sizing: border-box;
}

html {
  font-size: $startSize;
}

body {
  background: #fff;
  font: $font;
}


button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

input {
  padding: 0;
  margin: 0;
}

.mcfr-desc {
  font-size: 21px;
  color: #2d3039;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 11px;
  margin: 0;
}

.item__badge {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  padding: 5px 9px;
  line-height: 2;
  color: #d0021b;
  border-radius: 3px;
  border: solid 1px #d0021b;
  margin-bottom: 11px;
  cursor: pointer;

  &.active {
    transition: 0.3s;
    background-color: #d0021b;
    color: #fff;
  }
}

.item__desc {
  font-size: 18px;
  line-height: 1.44;
  color: #435466;
  position: relative;
  text-decoration: underline;
  position: relative;
  z-index: 1;

  &.active {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.18;
    text-decoration: none;

    @include minLg() {
      &::after {
        content: '';
        display: block;
        width: 40px;
        height: 1px;
        background: #d0021b;
        position: absolute;
        left: 100%;
        margin-left: 20px;
        top: 15px;
      }
    }

  }
}

.list__item {
  margin-top: 29px;
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.mcfr-title {
  font-size: 35px;
  color: #2d3039;
  text-align: center;
  font-weight: 400;

  @include maxLg() {
    font-size: 25px;
  }
}

.button {
  background-color: #e50000;
  width: 378px;
  font-size: 18px;
  color: #fff;
  border-radius: 3px;
  line-height: 1.44;
  text-align: center;
  padding: 11.5px 60px;
  display: block;
  text-decoration: none;

  @include maxMd() {
    width: 100%;
  }
}