section.section.arg-vid
	.arg-vid__header
		.container 
			h2.mcfr-desc Агрументована відповідь на ваше запитання в одній рекомендації
	.arg-vid__body 
		.container.arg-vid__body-1
			.row
				.col-lg-6
					a(href='#' data-slide="1").list__item
						.item__badge.active
							span Автори
						#recommendations.item__desc.active
							| Детальний коментар від спеціаліста профільного відомства
					a(href='#' data-slide="2").list__item
						.item__badge
							span Законодавство
						#recommendations.item__desc
							| Посилання на нормативну базу, щоб не витрачати час на пошук потрібного документ
					a(href='#' data-slide="3").list__item
						.item__badge
							span Ситуації
						#recommendations.item__desc
							| Спірні питання по темі, які потребують окремого роз’яснення
					a(href='#' data-slide="4").list__item
						.item__badge
							span Роз’яснення
						#recommendations.item__desc
							| Виділення тезисів, на які варто звернути уваг
					a(href='#' data-slide="5").list__item
						.item__badge
							span Форми документів
						#recommendations.item__desc
							| Шаблони ідеальних документів зі зразками їх заповнення
					a(href='#' data-slide="6").list__item
						.item__badge
							span Вибране
						#recommendations.item__desc
							| Відзначайте потрібні абзаци та заголовки зіркою та додавайте їх у вибране

				.col-lg-6
					.site
						img(src='./images/site.png')
						//- .q
						//- 	img(src='./images/avtor.png')
						//- .q
						//- 	img(src='./images/zakon.png')
						//- .q
						//- 	img(src='./images/sit.png')
						//- .q
						//- 	img(src='./images/rozjasn.png')
						//- .q
						//- 	img(src='./images/docs.png')
						//- .q
						//- 	img(src='./images/vibrane.png')
		.container.arg-vid__body-2
			h2.mcfr-title Що ще ви знайдете в Системі за своїм запитом
			.row
				.col-lg-4
					.arc-col-title
						img(src='./images/formiobrazci.svg')
						span Форми та зразки
					.arc-col-desc
						span Будь-які форми та зразки документів з охорони праці, які можуть знадобитися в роботі
					
					.arc-col-title.mt-5
						img(src='./images/spravochniki.svg')
						span Довідники
					.arc-col-desc.nb
						span Атестація робочих місць, пожежна безпека, розслідування нещасний випадків
					
				.col-lg-4
					.arc-col-title
						img(src='./images/spravochniki.svg')
						span Правові документи
					.arc-col-desc
						span Всі нормативні документи —кодекси, закони, накази, постанови
					
					.arc-col-title.mt-5
						img(src='./images/service.svg')
						span Сервіси
					.arc-col-desc.nb
						span Зручні сервіси для поегшення роботи спеціаліста з охорони праці
					
				.col-lg-4.nb
					.arc-col-title
						img(src='./images/journal&book.svg')
						span Журнали та книги
					.arc-col-desc
						span Доступ до журналу «Довідник спеціаліста з охорони праці»
					
					.arc-col-title.mt-5
						img(src='./images/videoseminari.svg')
						span Вебінари
					.arc-col-desc.nb
						span Онлайн вебінари щомісяця з можливістю поставити запитання лектору
					
