footer.footer
	.container
		.support.footer__item
			.support__title Служба клієнтської підтримки
			a.tel.link(href='tel:+0445865606') 0 44 586 56 06
		.copyright © Цифрове видавництво MCFR, 2001&mdash;2020. Усі права захищено
