section.section.helper
	.container
		h2.mcfr-title Користувачі Системи отримують експертну підтримку від провідних експертів з охорони праці
		.row
			.col-lg-6
				.advice__elem
					.advice__title
						| Онлайн помічник
					.advice__desc
						| Допоможе знайти потрібну відповідь і розповість про тонкощі
				.advice__elem
					.advice__title
						| Персональний експерт
					.advice__desc
						| Персональний експерт підготує відповіть на ваше питання

				a.button.demourl(href='https://1op-vip.expertus.ua/#/hotline/', target='_blank') Поставити запитання
			.col-lg-6
				img(src="./images/mes.gif").gif

		h2.mcfr-title.mcfr-title--dost Отримати демодоступ на 3 дні
		a.button.demo(href='https://1op-vip.expertus.ua/#/hotline/', target='_blank')  Спробувати безплатно
