section.section.rab-leg
	.container
		.row
			.col-3
				include ./icons/logo-op
		h1.rab-leg__title Робота легше, коли є система Expertus: Охорона праці
		h4.rab-leg__desc  Поставте запитання та отримайте готове рішення, наприклад:

		form.rab-leg__search(action='')
			input#phrase(type='search', placeholder='Вiдпускнi в 6-НДФЛ', value='')
			button#searchform.search__button Пошук

