section.section.reviews
	.container 
		h2.mcfr-title Кожний день Система Expertus: Охорона праці стає краще завдяки вашим відгукам
		.row
			.col-lg-6
				.review
					.review__header
						div.d-flex.align-items-center
							.user__pic(style="background-image: url('./images/m.png')")
							.user__name Остап Федоренко
						div.img-rev
							img(src="./images/star.png")
							span 10 з 10

					.review__body 
						p Cпеціаліст з охорони праці — На мою думку, система «Expertus: Охорона праці» є незаміним помічником у роботі. Завдяки їй ми своєчасно дізнаємося про зміни в законодавстві. З Системою я єкономлю робочий час та підвищую свою кваліфікацію.
			.col-lg-6
				.review
					.review__header
						div.d-flex.align-items-center
							.user__pic(style="background-image: url('./images/w2.png')")
							.user__name Катерина Мішина
						div.img-rev
							img(src="./images/star.png")
							span 10 з 10

					.review__body 
						p Керівник служби охорони праці — Система «Expertus: Охорона праці допомагає мені в усіх аспектах роботи в сфері охорони праці та буде корисна як спеціалісту, що починає свою кар’єру, так і експерту.
			.col-lg-6
				.review
					.review__header
						div.d-flex.align-items-center
							.user__pic(style="background-image: url('./images/w.png')")
							.user__name Наталія Іванченко
						div.img-rev
							img(src="./images/star.png")
							span 10 з 10

					.review__body 
						p Провідний інженер з охорони праці — Завдяки тому, що в консультаціях є зразки та шаблони документів я витрачаю лічені хвилини для їх заповнення