section.section.reviews
	.container 
		h2.mcfr-title Кожний день Система «Expertus: Охорона праці» стає краще завдяки вашим відгукам
		.slideRev
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/m.png')")
						//- .user__name Остап Федоренко
					div.img-rev
						img(src="./images/star.png")
						span 10 з 10

				.review__body 
					p 
						b Остап Федоренко,&nbsp;
						| cпеціаліст з охорони праці — На мою думку, Система «Expertus: Охорона праці» є незаміним помічником у роботі. Завдяки їй ми своєчасно дізнаємося про зміни в законодавстві. З Системою я економлю робочий час та підвищую свою кваліфікацію.
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/w2.png')")
						//- .user__name Катерина Мішина
					div.img-rev
						img(src="./images/star.png")
						span 9 з 10

				.review__body 
					p 
						b Катерина Мішина,&nbsp; 
						| керівник служби охорони праці — Система «Expertus: Охорона праці допомагає мені в усіх аспектах роботи в сфері охорони праці та буде корисна як спеціалісту, що починає свою кар’єру, так і експерту.
			.review
				.review__header
					div.d-flex.align-items-center
						.user__pic(style="background-image: url('./images/w.png')")
						//- .user__name Наталія Іванченко
					div.img-rev
						img(src="./images/star.png")
						span 10 з 10

				.review__body 
					p 
						b Наталія Іванченко,&nbsp; 
						| провідний інженер з охорони праці — Завдяки тому, що в консультаціях є зразки та шаблони документів я витрачаю лічені хвилини для їх заповнення